.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .body {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #f5f5f5;
    height: 100%;
  }
  
  .ng-invalid.ng-untouched:not(form)  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid.ng-touched:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }