<div [hidden]="submitted" class="body">

    <form (ngSubmit)="onSubmit()" class="example-form">
  
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar cargo</mat-label>
        <mat-select name="idCharge" [(ngModel)]="user.idCharge">
          <mat-option *ngFor="let charge of charges | async" [value]="charge.idCharge">
            {{charge.chargeName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Nombre Completo</mat-label>
        <input matInput id="nameUser" required [(ngModel)]="user.nameUser" name="nameUser">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Edad</mat-label>
        <input matInput id="age" required [(ngModel)]="user.age" name="age" >
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Elige el día de ingreso</mat-label>
        <input matInput [max]="maxDate" [matDatepicker]="picker" required [(ngModel)]="user.dateAdmision"
          name="dateAdmision">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
  
      <button mat-raised-button color="primary">Registrar</button>
    </form>
  </div>
