<div class="body">
  <form class="example-form">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Asesor" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="nameUser">
        <th mat-header-cell *matHeaderCellDef> Nombre Usuario</th>
        <td mat-cell *matCellDef="let element"> {{element.nameUser}} </td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>
      <ng-container matColumnDef="dateAdmision">
        <th mat-header-cell *matHeaderCellDef> Fecha Ingreso </th>
        <td mat-cell *matCellDef="let element"> {{element.dateAdmision}} </td>
      </ng-container>
      <ng-container matColumnDef="nameCharge">
        <th mat-header-cell *matHeaderCellDef> Cargo </th>
        <td mat-cell *matCellDef="let element"> {{element.nameCharge}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </form>

</div>