table {
    min-width: 100px;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .body {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #f5f5f5;
    height: 100%;
  }
  
  .example-form {
    min-width: 100px;
    max-width: 1200px;
    width: 90%;
    align-items: center;
    justify-content: center;
  }