.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .body {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #f5f5f5;
    height: 100%;
  }