<div [hidden]="submitted" class="body">
    
    <form (ngSubmit)="onSubmit()" class="example-form">
    
      <mat-form-field appearance="fill">
            <mat-label>Seleccionar usuario que actualiza</mat-label>
            <mat-select name = "nameUserEdit" [(ngModel)]="product.nameUserEdit">
              <mat-option *ngFor="let user of users | async" [value]="user.idUser">
                {{user.nameUser}}
              </mat-option>
            </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Nombre Producto</mat-label>
        <input matInput id="nameProduct" required [(ngModel)]="product.nameProduct" name="nameProduct">
      </mat-form-field>

      <mat-form-field  appearance="fill" class="example-full-width">
        <mat-label>Cantidad</mat-label>
        <input matInput  id="quantity" required [(ngModel)]="product.quantity" pattern="^[0-9]" name="quantity">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Elige fecha ingreso</mat-label>
        <input matInput  [max]="maxDate" [matDatepicker]="picker" required [(ngModel)]="product.dateAdmision" name="dateAdmision">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <button mat-raised-button color="primary">Registrar</button>
      <button mat-raised-button color="primary" (click)="list()">Regresar</button>
    </form>
</div>

