<div class="body">
  <form class="example-form">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Asesor" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="idCharge">
        <th mat-header-cell *matHeaderCellDef> ID Cargo </th>
        <td mat-cell *matCellDef="let element"> {{element.idCharge}} </td>
      </ng-container>
      <ng-container matColumnDef="chargeName">
        <th mat-header-cell *matHeaderCellDef> Nombre Cargo </th>
        <td mat-cell *matCellDef="let element"> {{element.chargeName}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </form>
</div>