<div class="body">
    <form class="example-form">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Asesor" #input>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar usuario que registra</mat-label>
        <mat-select name="idUser" [(ngModel)]="product.idUser">
          <mat-option *ngFor="let user of users | async" [value]="user.idUser">
            {{user.nameUser}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="idProduct">
          <th mat-header-cell *matHeaderCellDef> ID Producto</th>
          <td mat-cell *matCellDef="let element"> {{element.idProduct}} </td>
        </ng-container>
        <ng-container matColumnDef="nameProduct">
          <th mat-header-cell *matHeaderCellDef> Producto </th>
          <td mat-cell *matCellDef="let element"> {{element.nameProduct}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="dateAdmision">
          <th mat-header-cell *matHeaderCellDef> Fecha Ingreso </th>
          <td mat-cell *matCellDef="let element"> {{element.dateAdmision}} </td>
        </ng-container>
        <ng-container matColumnDef="nameUser">
          <th mat-header-cell *matHeaderCellDef> Usuario Registra </th>
          <td mat-cell *matCellDef="let element"> {{element.nameUser}} </td>
        </ng-container>
        <ng-container matColumnDef="nameUserEdit">
          <th mat-header-cell *matHeaderCellDef> Usuario Edit </th>
          <td mat-cell *matCellDef="let element"> {{element.nameUserEdit}} </td>
        </ng-container>
        <ng-container matColumnDef="upgradeDate">
          <th mat-header-cell *matHeaderCellDef> Fecha Actualizacion </th>
          <td mat-cell *matCellDef="let element"> {{element.upgradeDate}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones</th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-button (click)="updateProduct(element.idProduct)">Editar</button>
            <button mat-button (click) ="deleteProduct(product.idUser,element.idProduct)">Eliminar</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </form>
  </div>