<div [hidden]="submitted" class="body">

    <form (ngSubmit)="onSubmit()" class="example-form">
  
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Id Cargo</mat-label>
        <input matInput id="idCharge" required [(ngModel)]="charge.idCharge" name="idCharge" >
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Nombre Cargo</mat-label>
        <input matInput id="nameCharge" required [(ngModel)]="charge.chargeName" name="nameCharge">
      </mat-form-field>
  
      <button mat-raised-button color="primary">Registrar</button>
    </form>
  </div>
