<mat-toolbar color="primary">
  <span>NEXOS APP</span>
  <button mat-button routerLink="/agregarCargos">Agregar Cargos</button>
  <button mat-button routerLink="/agregarUsuarios">Agregar Usuarios</button>
  <button mat-button routerLink="/agregarProductos">Agregar Productos</button>
  <button mat-button routerLink="/cargos">Lista Cargos</button>
  <button mat-button routerLink="/usuarios">Lista Usuarios</button>
  <button mat-button routerLink="/productos">Lista Productos</button>
</mat-toolbar>
<router-outlet></router-outlet>